


.navbar{
	background-color: #2c3e50;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.navbar h2{
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px;
}
.navbar a{
	text-decoration:none;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
}

/* SECCION UNO*/

.seccion-uno{
	background-color: #45b39c;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 58px;
}
.seccion-uno h1{
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 55px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 18px 0;
}
.seccion-uno p{
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin: 18px 0;
	text-transform: capitalize;	
}
.seccion-uno span::before{
	content: "";
    width: 75px;
    height: 2px;
    display: inline-block;
    background: #FFF;
    margin-bottom: 5px;
    margin-right: 10px;
}
.seccion-uno span::after{
	content: "";
    width: 75px;
    height: 2px;
    display: inline-block;
    background: #FFF;
    margin-bottom: 5px;
    margin-left: 10px;
}
.seccion-uno i{
	color: #FFF;
}


/* SECCION DOS */


.seccion-dos{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 56px 0;
}
.seccion-dos h2{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
}
.galeria{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.galeria img{
	width: 25%;
    height: 25%;
    margin: 10px;
}
.seccion-dos span::before{
	content: "";
    width: 75px;
    height: 2px;
    display: inline-block;
    background: #2c3e50;
    margin-bottom: 5px;
    margin-right: 10px;
}
.seccion-dos span::after{
	content: "";
    width: 75px;
    height: 2px;
    display: inline-block;
    background: #2c3e50;
    margin-bottom: 5px;
    margin-left: 10px;
}
.seccion-dos i{
	color: #2c3e50;
	margin-top: 5px;
}

/* ACERCA */

.acerca{
	background-color: #45b39c;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 65px;
}


.acerca span::before{
	content: "";
    width: 75px;
    height: 2px;
    display: inline-block;
    background: #FFF;
    margin-bottom: 5px;
    margin-right: 10px;
}
.acerca span::after{
	content: "";
    width: 75px;
    height: 2px;
    display: inline-block;
    background: #FFF;
    margin-bottom: 5px;
    margin-left: 10px;
}
.acerca i{
	color: #FFF;
	margin-top: 5px;
}

.acerca h2{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
}
.parrafos{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 20px;
}
.parrafos p{
	width: 23%;
    margin: 19px;
    color: #FFF;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
}
.acerca .boton{
	border: 1px solid #FFF;
    border-radius: 5px;
    padding: 8px;
}
.boton{
	background-color: #45b39c;
	margin-right: 2px;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	font-size: 15px;
	text-decoration:none;
}

/* CONTACTO */
.contacto{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin:56px 0;
}
.contacto h2{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	color: #2c3e50;
}
.contacto span::before{
	content: "";
    width: 75px;
    height: 2px;
    display: inline-block;
    background: #2c3e50;
    margin-bottom: 5px;
    margin-right: 10px;
}
.contacto span::after{
	content: "";
    width: 75px;
    height: 2px;
    display: inline-block;
    background: #2c3e50;
    margin-bottom: 5px;
    margin-left: 10px;
}
.contacto i{
	color: #2c3e50;
	margin-top: 5px;
}
.contacto form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 50%;
}
input[type=text] {
    border: none;
    border-bottom: 1px solid rgba(220, 220, 220, 0.25);
    margin-bottom: 33px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(220, 220, 220, 0.70);

}
textarea{
	border: none;
	text-decoration: none;
    border-bottom: 1px solid rgba(220, 220, 220, 0.25);
	
	font-family: 'Open Sans', sans-serif;
    color: rgba(220, 220, 220, 0.70);
    padding-bottom: 100px;
    resize: none;
}
.contacto .submit-btn{
	width: 10%;
    border-radius: 6px;
    background-color: #45b39c;
    border: 2px solid #45b39c;
    padding: 10px;
    color: #FFF;
    margin-top:17px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}
/* SECCION TRES */


.seccion-tres{
	background-color: #2c3e50;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 55px 0;
}
.seccion-tres h3{
	margin-bottom: 30px;
}
.box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex:1;
	    -ms-flex:1;
	        flex:1;

}
.box h3{
	text-transform: uppercase;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.box p{
	color: #FFF;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	width: 39%;
	text-align: center;
}

.box2 a{
	text-decoration:none;
	color: #45b39c;
}
.box-medio ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.box-medio li{
	border: 1px solid #FFF;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	padding: 10px;
	margin-right: 10px;
	
}
.box-medio i{
	color: #FFF;
    text-align: center;
    margin: 3px;
}
/* FOOTER */

.foot{
	background-color: #19232d;
	text-align: center;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	padding: 20px;
}

/* RESPONSIVE CELULARES*/

@media screen and (max-width: 768px){
	.navbar{
	background-color: #2c3e50;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.navbar h2{
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 27px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px;
}
.navbar a{
	text-decoration:none;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
}

/* SECCION UNO*/

.seccion-uno{
	background-color: #45b39c;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 58px;
}
.seccion-uno h1{
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 29px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 18px 0;
}
.seccion-uno p{
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin: 18px 0;
	text-transform: capitalize;	
	text-align: center;
}
.seccion-uno span::before{
	content: "";
    width: 75px;
    height: 2px;
    display: inline-block;
    background: #FFF;
    margin-bottom: 5px;
    margin-right: 10px;
}
.seccion-uno span::after{
	content: "";
    width: 75px;
    height: 2px;
    display: inline-block;
    background: #FFF;
    margin-bottom: 5px;
    margin-left: 10px;
}
.seccion-uno i{
	color: #FFF;
}


/* SECCION DOS */


.seccion-dos{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 56px 0;
}
.seccion-dos h2{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
}
.galeria{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.galeria img{
	width: 90%;
    height: 90%;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.seccion-dos span::before{
	content: "";
    width: 75px;
    height: 2px;
    display: inline-block;
    background: #2c3e50;
    margin-bottom: 5px;
    margin-right: 10px;
}
.seccion-dos span::after{
	content: "";
    width: 75px;
    height: 2px;
    display: inline-block;
    background: #2c3e50;
    margin-bottom: 5px;
    margin-left: 10px;
}
.seccion-dos i{
	color: #2c3e50;
	margin-top: 5px;
}

/* ACERCA */

.acerca{
	background-color: #45b39c;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 65px;
}


.acerca span::before{
	content: "";
    width: 75px;
    height: 2px;
    display: inline-block;
    background: #FFF;
    margin-bottom: 5px;
    margin-right: 10px;
}
.acerca span::after{
	content: "";
    width: 75px;
    height: 2px;
    display: inline-block;
    background: #FFF;
    margin-bottom: 5px;
    margin-left: 10px;
}
.acerca i{
	color: #FFF;
	margin-top: 5px;
}

.acerca h2{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
}
.parrafos{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 20px;
}
.parrafos p{
	width: 90%;
    margin: 10px;
    color: #FFF;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
}
.acerca .boton{
	border: 1px solid #FFF;
    border-radius: 5px;
    padding: 8px;
}
.boton{
	background-color: #45b39c;
	margin-right: 2px;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	font-size: 15px;
	text-decoration:none;
}

/* CONTACTO */
.contacto{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin:56px 0;
}
.contacto h2{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	color: #2c3e50;

}
.contacto span::before{
	content: "";
    width: 75px;
    height: 2px;
    display: inline-block;
    background: #2c3e50;
    margin-bottom: 5px;
    margin-right: 10px;
}
.contacto span::after{
	content: "";
    width: 75px;
    height: 2px;
    display: inline-block;
    background: #2c3e50;
    margin-bottom: 5px;
    margin-left: 10px;
}
.contacto i{
	color: #2c3e50;
	margin-top: 5px;
	margin-bottom: 35px;
}
.contacto form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 90%;
}
input[type=text] {
    border: none;
    border-bottom: 1px solid rgba(220, 220, 220, 0.25);
    margin-bottom: 33px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(220, 220, 220, 0.70);

}
textarea{
	border: none;
	text-decoration: none;
    border-bottom: 1px solid rgba(220, 220, 220, 0.25);
	
	font-family: 'Open Sans', sans-serif;
    color: rgba(220, 220, 220, 0.70);
    padding-bottom: 100px;
    resize: none;
}
.contacto .submit-btn{
	width: 20%;
    border-radius: 6px;
    background-color: #45b39c;
    border: 2px solid #45b39c;
    padding: 10px;
    color: #FFF;
    margin-top:17px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    font-size: 20px;
}
/* SECCION TRES */


.seccion-tres{
	background-color: #2c3e50;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 55px 0;
}
.seccion-tres h3{
	margin-bottom: 30px;
}
.box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex:1;
	    -ms-flex:1;
	        flex:1;
	margin-top: 30px;

}
.box h3{
	text-transform: uppercase;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 25px;
}

.box p{
	color: #FFF;
	font-size: 21px;
	font-family: 'Open Sans', sans-serif;
	width: 70%;
	text-align: center;
}

.box2 a{
	text-decoration:none;
	color: #45b39c;
}
.box-medio ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.box-medio li{
	border: 1px solid #FFF;
    border-radius: 50%;
    width: 28px;
    height: 30px;
    padding: 14px;
    margin-right: 15px;
}
.box-medio i{
	color: #FFF;
    text-align: center;
    margin: 1px;
    font-size: 30px;
}
/* FOOTER */

.foot{
	background-color: #19232d;
	text-align: center;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	padding: 20px;
}
}